<h1>Transaction Complete. Record for Transaction ID: <%= @transaction.id%> follows.</h1>
<p>
  <b>Transaction ID:</b>
  <%= @transaction.id %>
</p>
<p>
  <b>Book ID:</b>
  <%= @transaction.book_id %>
</p>
<p>
  <b>User ID:</b>
  <%= @transaction.user_id %>
</p>
<p>
  <b>Open Date:</b>
  <%= @transaction.open_date %>
</p>
<p>
  <b>Closed Date:</b>
  <%= @transaction.closed_date %>
</p>
<p>
  <b>Active Flag:</b>
  <%= @transaction.active_flag %>
</p>

