<h1>Listing Transactions<h1/>

<table>
  <tr>
    <th>ID</th>
    <th>Book Name</th>
    <th>User Name</th>
    <th>Active</th>
    <th>Open Date</th>
    <th>Closed Date</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.book.title %></td>
    <td><%= transaction.user.first_name %> <%= transaction.user.last_name %></td>
    <td><%= transaction.active_flag %></td>
    <td><%= transaction.open_date %></td>
    <td><%= transaction.closed_date %></td>
<% end %>
  </tr>
</table>

